div {
  padding: 24px;
  background-color: skyblue;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  display:inline-block;



  /* cursor:  */
  /* opacity:  */
  /* visibility:  */
  /* display: */
}